<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Contacts</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <nav class="navbar navbar-default menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/user/{username}/contacts/all(username=${user.username})}"><img
                        th:src="@{/img/phonebook_logo.png}"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:if="${#bools.isTrue(searchResult)}" class="active-link"><a
                            th:href="@{/user/{username}/contacts/all(username=${user.username})}">All contacts<span
                            class="sr-only">(current)</span></a></li>
                </ul>

                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <b  class="lead" th:text="'Hello, ' + ${user.username}"></b>
                    <b>&nbsp;&nbsp;</b>
                    <input type="submit" class="btn btn-lg btn-info" value="Logout"/>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<div class="content">
    <div class="container">
        <form class="navbar-form navbar-right" role="search"
              th:action="@{/user/{username}/contacts/search(username=${user.username})}">
            <div class="form-group">
                <input type="text" name="firstName" class="form-control" placeholder="First name"/>
                <input type="text" name="lastName" class="form-control" placeholder="Last name"/>
                <input type="text" name="cellPhone" class="form-control" placeholder="Cell phone"/>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group brd">
                    <h1 align="center">New contact</h1>
                    <p class="bg-danger" th:if="${#bools.isTrue(duplicate)}" th:text="${errorMsg}">
                    </p>
                    <form class="form-group-sm" method="POST"
                          th:action="@{/user/{username}/contacts/new(username=${user.username})}"
                          th:object="${contact}">

                        <label class="bg-danger" th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}"></label>
                        <input class="form-control" type="text" placeholder="First name" th:field="*{firstName}"/>

                        <label class="bg-danger" th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}"></label>
                        <input class="form-control" type="text" placeholder="Last name" th:field="*{lastName}"/>

                        <label class="bg-danger" th:if="${#fields.hasErrors('middleName')}"
                               th:errors="*{middleName}"></label>
                        <input class="form-control" type="text" placeholder="Middle name" th:field="*{middleName}"/>

                        <label class="bg-danger" th:if="${#fields.hasErrors('cellPhoneNumber')}"
                               th:errors="*{cellPhoneNumber}"></label>
                        <input class="form-control" type="text" placeholder="Cell phone" th:field="*{cellPhoneNumber}"/>

                        <input class="form-control" type="text" placeholder="Address" th:field="*{address}"/>

                        <input class="form-control" type="text" placeholder="Home phone" th:field="*{homePhoneNumber}"/>

                        <label class="label-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                        <input class="form-control" type="text" placeholder="Email" th:field="*{email}"/>

                        <input class="btn btn-lg btn-block btn-info" type="submit" value="Add contact" name="addContact"/>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table brd">
                        <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Middle name</th>
                            <th>Cell phone</th>
                            <th>Home phone</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(contactList)}">
                            <td colspan="6" align="center">Nothing to show</td>
                        </tr>
                        <tr th:each="contact : ${contactList}">
                            <td th:text="${contact.firstName}"></td>
                            <td th:text="${contact.lastName}"></td>
                            <td th:text="${contact.middleName}"></td>
                            <td th:text="${contact.cellPhoneNumber}"></td>
                            <td th:text="${contact.homePhoneNumber}"></td>
                            <td th:text="${contact.address}"></td>
                            <td th:text="${contact.email}"></td>
                            <td align="center">
                                <a th:href="@{/user/{username}/contacts/{id}(username=${contact.user.username}, id=${contact.id})}">Edit</a>
                                <a th:href="@{/user/{username}/contacts/delete/{id}(username=${contact.user.username}, id=${contact.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>
</html>